@{
    ViewData["Title"] = "About";
}
<p>Dice Roller for polyhedral dice used in role playing games</p>
<p><a href="https://github.com/henrypuspurs/DiceRoller2" target="_blank">GitHub for this project</a></p>
